<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <!-- This id MUST match pom.xml distributionManagement/repository/id -->
    <server>
      <id>maven-sbc-internal-dev_n3p</id>
      <username>NEXUS3_CREDS</username>
      <password>${env.NEXUS3_CREDS}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>nexus</id>

      <repositories>
        <repository>
          <id>central</id>
          <name>Maven Central</name>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>

        <repository>
          <id>maven-sbc-internal-dev_n3p</id>
          <name>Nexus internal releases</name>
          <url>https://nexus306.systems.uk.sbc:8081/nexus/repository/maven-sbc-internal-dev_n3p/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Maven Central plugins</name>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>

        <pluginRepository>
          <id>maven-sbc-internal-dev_n3p</id>
          <name>Nexus internal plugins</name>
          <url>https://nexus306.systems.uk.sbc:8081/nexus/repository/maven-sbc-internal-dev_n3p/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
